html,body{
  height:100%;
  width: 100%;
}

::-webkit-scrollbar { 
    display: none; 
}

header {
  text-align: center;
  width: 100%;
  vertical-align: middle;
  align-content: center;
  transition: 0.5s;
  animation: loaderDown 1s 0s 1 ease-out ;
}

header:hover {
  box-shadow: 3px 5px #C0C0C0;    
}

footer {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: grey;
  font-size: 10px;
  padding: 10px;
}

footer p {
  vertical-align: 10px  ;
}

main {
  margin: 0 auto;
  max-width: 1000px;

}

.container {
  min-width: 500px;
  margin: auto;
  padding-bottom: 100px;
  animation: loaderUp 0.5s 0s 1 ease-out ;
}

.navbar{
  text-align: center;
}

.navbar ul {
  list-style: none;
  text-align: center;
  padding: 20px;
}
.navbar li {
  display: inline-block;
  margin-right: -4px;
}

.navbar li a {
  display: block;
  color: black;
  padding: 10px 50px;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px; 
}


.navbar li a:hover {
  color: white;
  background-color: #D10042;
  animation: hovercolor 2.5s 0s infinite linear alternate;
}

.navbar li a:active {
  transform: translateY(4px);
}


.logo img{
  height: 100px; 
  padding: 5px; 
  margin-left: 10px;
}


@keyframes hovercolor {
  25%{
    background-color: #D10042;
  }
  50%{
    background-color: #D2691E;
  }
  75%{
    background-color: #218380;
  }
  100%{
    background-color: #868985;

  }
}

@keyframes loaderDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes loaderUp {
  0% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(0);
  }
}
